/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.cfx:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

/* FLUX */

html {
  scroll-behavior: smooth;
}

body {
	font-family: 'Roboto', sans-serif ;
}

*[off] {
    display: none !important;
}

/* NAVIGATION */

nav {
	top: 0;
	left: 0;
	bottom: 0;
  position: absolute;

	width: 60px;
	overflow: hidden;
	padding-top: 5px;
  text-align: center;

  background: #EDEDED;
	border-right: 1px solid #D4D4D4;
	/*box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);*/
}

nav button .material-icons {
  font-size: 32px;
}

nav button {
  margin: 2px 0;
  color: #1a1c26;
}

nav button:hover {
  color: #f40c4b;
}

nav .upload {
	left: 0;
	bottom: -5px;
	width: 70px;
	height: 65px;
	border-radius: 0;
	text-align: center;
	position: absolute;
	background: #1a1c26;
}

.assets-nav {
  float: right;
}

/* BUTTONS */

button {
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  background: none;
  font-size: 14px;
  border-radius: 4px;
  transition: background .3s ease, color .3s ease;
}

.assets-nav button:hover {
  color: #29293e;
  background: white
}

/* WRAPPERS */

.wrap {
	margin: 20px;
}

.flux {
	width: 100%;
	height: 100%;
	display: block;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: fixed;
	background: #F8F8F8;
}

.menu {
	height: 100%;
	display: block;
	position: relative;

	float: left;
	width: 60px;
}

.content {
	height: 100%;
	display: block;
	position: relative;

	margin-left: 60px;
	margin-right: 420px;
	border-right: 1px solid #D4D4D4;
}

.composer {
	height: 100%;
	display: block;
	position: relative;

	width: 420px;
	float: right;
}


/* DOCX DISPLAY */
.content .docx {
	top: 5px;
	bottom: 0;
	color: #1c1c1c;
	padding: 0 20px;
	font-size: 15px;
	font-weight: 200;
	line-height: 24px;
	position: absolute;
}

.content .docx > * {
	position: relative;
}

.content .docx > *:hover {
	background: rgba(28, 157, 230, 0.3);
}

.content .docx > *.selected {
	background: rgba(195, 28, 230, 0.5);
}

/* .docx verification stripes */
.content .docx > *.verified {
	border-left: 3px solid #4ecb4e;
	padding-left: 5px;
	margin-left: -8px;
}

.content .docx > *.no-converter {
	border-left: 3px solid #e91743;
	padding-left: 5px;
	margin-left: -8px;
}

.content .docx > *.no-converter:after {
	content: 'NO CONVERTER';
	top: 0px;
	left: 0px;
	width: 85px;
	color: white;
	display: block;
	font-size: 10px;
	font-weight: bold;
	position: absolute;
	background: #e91743;
	font-family: sans-serif;
}

/* Glass cover */
.content .docx > *:before {
	content: ' ';
	z-index: 10;
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	background: rgba(0, 0, 0, 0);
}

.content .docx > *.divided:before {
	content: none;
}

/* COMPOSER */

.composer {
	background: #F2F2F2;
}

.composer__header {
	padding: 0px;
	background: #EDEDED;
	border-bottom: 1px solid #ccc;
}

.composer__header__logo {
	margin-bottom: 5px;
}

.composer__header__menu button {
	float: left;
	color: #232635;
	padding: 10px;
	border-radius: 0;
	background: #EDEDED;
	display: inline-block;
}

.composer__header__menu button.more-tools {
	float: right;
}

.composer__header__menu button i {
	vertical-align: bottom;
}

.composer__header__menu button:hover {
	color: #f40c4b;
	background: #d7d7d7;
}

.composer__header__menu button.active {
	font-weight: bold;
	color: #f40c4b;

	background: #d7d7d7;
	background: -moz-linear-gradient(top,  #d7d7d7 94%, #f40c4b 94%);
	background: -webkit-linear-gradient(top,  #d7d7d7 94%,#f40c4b 94%);
	background: linear-gradient(to bottom,  #d7d7d7 94%,#f40c4b 94%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d7d7d7', endColorstr='#f40c4b',GradientType=0 );
}


/* COMPOSE SECTION */

.composer__compose {
	width: 60%;
	float: left;
	height: 100%;
	display: block;
	min-height: 5px;
	padding-top: 3px;
}

.block {
	background: white;
	border-radius: 4px;
	padding: 5px 10px 5px 10px;
	margin: 10px 10px 10px 20px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

.block a {
	text-decoration: none;
}

.block:after {
	/*Clearfix*/
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.block img {
	width: 100%;
	height: auto;
}

.block:first-of-type {
	/*margin-top: 0px;*/
}

 .block__title {
	float: left;
	color: #232635;
	font-size: 14px;
	font-weight: 200;
	padding-top: 7px;
}

 .block__close {
	padding: 0px;
	float: right;
	color: #232635;
	line-height: 0;
	margin-right: -5px;
}


/* COMPOSER ASSTES */

.composer__assets {
	width: 40%;
	float: left;
	height: 100%;
	display: block;
}

.composer__assets .asset__card {
  float: left;
  cursor: pointer;
  overflow: hidden;
  background: white;
  border-radius: 6px;
  position: relative;
	margin: 10px 20px 10px 10px;
  transform: scale(1) translateZ(0);
  transition: box-shadow .3s ease, transform .3s ease;
}

.composer__assets .asset__card:first-of-type {
	margin-top: 3px;
}

.composer__assets .asset__card:hover {
  transform: scale(1.05) translateZ(0);
  box-shadow: 1px 1px 4px 2px rgba(0,0,0,.3);
}

.composer__assets .asset__card:before {
   content: ' ';
   display: block;
   width: 100%;
   height: 100%;
   position: absolute;
   background: rgba(30, 134, 209, 0);
}

.composer__assets .asset__card img {
  width: 100%;
  height: auto;
  margin-bottom: -5px;
}


/* HANDLER */

div.fluxHandle {
	font-family: sans-serif;
	border-radius: 20px;
	position: relative;
	background: #ddd;
	padding: 0 10px;
	margin: 10px 0;
	cursor: grab;
	color: #333;
}

div.fluxHandle.collection-error {
	color: red;
}

div.fluxHandle:after {
	top: 0;
	width: 20px;
	right: 10px;
	height: 100%;
	content: '☰';
	display: block;
	font-weight: bold;
	position: absolute;
}

/* MODAL */

div[data-flux="modal"] {
	top: 20px;
	left:20px;
	z-index: -1;
	right: 20px;
	bottom: 20px;
	padding: 15px;
	display: none;
	position: fixed;
	border-radius: 10px;
	background: #232635;

}
div[data-flux="modal"] > textarea {
	width: 100%;
	height: 100%;
	border: none;
	color: #f1bd06;
	font-size: 12px;
	background: none;
	font-family: 'Courier New', sans-serif;
}

div[data-flux="modal"].on {
	display: block;
	z-index: 300;
}

/* MARKSES */

.dotMarker {
	width: 17px;
	height: 17px;
	border-radius: 50%;
	vertical-align: sub;
	display: inline-block;
}

.stripeMarker {
	border-left: 3px solid;
	padding-left: 3px;
	margin-left: -6px;
}

/* WIDGETS */

.widget-list {
	list-style: none;
}

.widget-list .widget-card {
	padding: 5px;
	list-style: none;
	background: none;
	border-bottom: 1px solid #cdcdcd;
}
